body {
  background-color: aqua;
}
.hero {
  color: brown;
  text-align: center;
}
.costom {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: blueviolet;
  &__h {
    text-align: center;
  }
  & td {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #cacaca;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-size: 20px;
    position: relative;
    border: 3px outset;
  }
}
#sapper button {
  width: 100%;
  height: 100%;
  background-color: #3ae2ce;
  border-radius: 10px;
}

table {
  background-color: #06098c;
  border: 2px solid black;
}
@media (max-width: 768px) {
  table {
    width: 100%;
    background-color: #3cff3c;
    border: 1px solid black;
    border-collapse: separate;
  }
  td {
    width: 10%;
    height: 30px;
    border: 3px outset;
    font-size: 15px;
  }
}
td.open {
  background-color: #13ef7d;
  border: 3px inset;
}
td.lokc {
  color: red;
}
tadle.hed {
  background-color: red;
}
img {
  width: 80%;
  height: 80%;
}
